
  .fancy-dialog input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .fancy-dialog .MuiDialogTitle-root {
    color: black;}
  
  .fancy-dialog .MuiDialogActions-root {
    padding: 20px;
    justify-content: space-between;
  }
  
  .fancy-dialog .MuiDialogActions-root button {
    background-color: #007bff;
    color: #fff;
  }
  
  .fancy-dialog .MuiDialogActions-root button:hover {
    background-color: #0056b3;
  }
  